$bold-font: 700; 
$blue-text-color: #4A4FF2;

.text-form-container {
    max-width: 100%;
    width: 100%;
    min-height: 312px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 120px;
}
.text-container-contact {
    &__h1 {
        max-width: 460px;
        min-height: 174px;
        font-size: 40px;
        line-height: 55px;
        font-weight: $bold-font;
    }
    &__p {
        max-width: 445px;
        min-height: 56px;
        font-size: 18px;
        opacity: 80%;
        line-height: 26px;
    }
}
// .form-container-contact {
//     max-width: 475px;
//     width: 100%;
//     min-height: 291px;
//     height: 100%;
// }
.form-container {
    max-width: 475px;
    width: 100%;
    min-height: 291px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__name-label {
        font-size: 16px;
        font-weight: $bold-font;
        opacity: 60%;
        height: 20px;
    }
    &__name-input {
        border: none;
        border-bottom: 1px solid #D8D8D8;
        height: 17px;
    }
    &__email-label {
        font-size: 16px;
        font-weight: $bold-font;
        opacity: 60%;
        height: 20px;
    }
    &__email-input {
        border: none;
        border-bottom: 1px solid #D8D8D8;
        height: 17px;
    }
    &__message-label {
        font-size: 16px;
        font-weight: $bold-font;
        opacity: 60%;
        height: 20px;
    }
    &__message-input {
        border: none;
        border-bottom: 1px solid #D8D8D8;
        height: 17px;
    }
    &__button {
        width: 125px;
        height: 50px;
        background-color: $blue-text-color;
        border: none;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: $bold-font;
    }
    &__div {
        max-width: 475px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}