$primary-text-color: #111111;

.section {
    max-width: 1110px;
    width: 100%;
    max-height: 381px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 63px;
}
.text-section {
    max-width: 635px;
    width: 100%;
    max-height: 381px;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__p {
        max-width: 635px;
        min-height: 222px;
        display: flex;
        flex-direction: column;
    }
    &__h1 {
        max-width: 495px;
        min-height: 130px;
        font-size: 40px;
        margin: 0px;
    }
    &__p1 {
        max-width: 635px;
        font-size: 16px;
        opacity: 80%;
        line-height: 26px;
    }
    &__p2 {
        max-width: 635px;
        font-size: 16px;
        opacity: 80%;
        line-height: 26px;
    }
}

.details-section {
    max-width: 335px;
    width: 100%;
    min-height: 343px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__1 {
        max-width: 335px;
        width: 100%;
        min-height: 42px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;
        border-bottom: 1px;
        border-bottom-style: solid;
        border-color: #D8D8D8;
    }
}
.p-section1 {
        opacity: 50%;
        font-size: 18px;
        font-weight: bold;
}
.p2-section1 {
    font-weight: bold;
    font-size: 18px;
}