@charset "UTF-8";
header {
  max-width: 1109px;
  width: 100%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 61px;
}

.logo-image img:first-child {
  height: 23px;
  width: 100px;
}

.logo-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__li {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-style: bold;
  color: #111111;
  font-size: 18px;
  letter-spacing: -0.35px;
}
.nav__link:hover {
  text-decoration: underline;
}

footer {
  max-width: 1109px;
  width: 100%;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 47px;
}

.logo-image img:first-child {
  height: 23px;
  width: 100px;
}

.logo-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  min-width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__li {
  list-style: none;
}
.nav__link {
  text-decoration: none;
  font-style: bold;
  color: #111111;
  font-size: 18px;
  letter-spacing: -0.35px;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__container-logos-footer {
  min-width: 95px;
  width: 100%;
  min-height: 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body { /* hur får jag det centrerat? */
  margin-right: 125px;
  margin-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Mulish", sans-serif;
  max-width: 1110px;
  width: 100%;
}