@use 'fonts';

@import 'header';
@import 'partials-project/article1project';
@import 'partials-project/image-project';
@import 'partials-project/section2text';
@import 'partials-project/three-images-project';
@import 'footer';

body { 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: fonts.$main-font;
    max-width: 1110px;
    width: 100%;
}