@use 'fonts';

@import 'header';
@import 'partials-project/article1project';
@import 'partials-project/image-project';
@import 'partials-project/section2text';
@import 'partials-project/three-images-project';
@import 'footer';

body { /* hur får jag det centrerat? */
    margin-right: 125px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
    font-family: fonts.$main-font;
    max-width: 1110px;
    width: 100%;
}